<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title_name %}My blog{% endblock title_name %}</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% block css_files %}
    {% endblock css_files %}
  </head>
  <body>
    <header id='main-navigation'>
        <a href="{% url "index-page" %}"><h1>Praveen's Blog</h1></a>
        <nav>
            <a href="{% url "all-posts-page" %}">All Posts</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
